.wrapper {
  max-width: 70%; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(155, 141, 141, 0.8); }

h1, h2 {
  flex-direction: row;
  font-family: 'Oswald', sans-serif;
  color: #7e3939;
  padding: 20px;
  text-align: center; }

html {
  font-family: 'Oswald', sans-serif; }

p {
  font-family: 'Oswald', sans-serif;
  text-align: center; }

ul {
  margin: 0 auto;
  padding: 0; }

label {
  font-family: 'Oswald', sans-serif;
  font-size: 20px; }

input {
  color: #7e3939; }

input.smashSearch {
  padding: 50px; }

img {
  flex-direction: row;
  border: 3px solid red; }

.darkTourist input, label {
  display: flex;
  flex-direction: column;
  margin-left: 35rem;
  padding: 20px; }

.darkTourist input {
  align-content: center;
  margin: 0 auto; }

.scopeChoices {
  justify-content: space-around; }

.smashSearch {
  margin: 10rem; }
