.wrapper {
  max-width: 80%; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(0.25turn, #364248, #ebf8e1aa, #4b443c); }

h1 {
  flex-direction: row;
  font-family: 'Special Elite', cursive;
  color: #7e3939;
  padding: 10px;
  text-align: center;
  font-size: 4.8rem; }

h1:hover {
  color: #7e3939; }

h2 {
  flex-direction: row;
  font-family: 'Special Elite', cursive;
  color: #7e3939;
  padding: 25px;
  text-align: center;
  font-size: 2rem; }

html {
  font-family: 'Oswald', sans-serif; }

p {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  line-height: 2.5rem;
  font-size: 18px;
  padding: 30px;
  border-bottom: 0.5px groove white; }

ul {
  margin: 0 auto;
  padding: 0; }

form {
  margin: 0 auto; }

label {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center;
  border: 1.5px solid #7D3739;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 9%; }

label:hover {
  color: #7e3939;
  border: 3px solid #7D3739;
  transition: 0.2s ease-in-out; }

input {
  color: #7e3939; }

input.smashSearch {
  padding: 50px; }

img {
  flex-direction: row;
  margin-left: 0 auto;
  margin-right: 0 auto;
  border: 13px solid #7D3739;
  border-style: outset;
  width: 100%; }

img.netflix {
  width: 20%;
  height: 20%;
  max-width: 30%;
  border: none;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px; }

a {
  margin: 0 auto;
  text-align: center;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 17%;
  font-family: 'Oswald', sans-serif;
  color: black; }

a:hover {
  color: #7D3739; }

.darkTourist input, label {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px; }

.darkTourist input {
  margin-top: 7px;
  margin-bottom: 7px; }

.scopeChoices {
  justify-content: space-around; }

input.smashSearch {
  margin-top: 27px; }

input.smashSearch:hover {
  border: 5px solid #7D3739;
  transition: 0.3s ease-in-out;
  background-color: rgba(75, 34, 34, 0.865);
  color: white;
  font-size: 15px; }

input[type=submit] {
  padding: 5px 15px;
  background: rgba(184, 124, 124, 0.166);
  border: 1.5px solid #7D3739;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: 15px; }

.destinationDescription {
  width: 70%;
  margin: 0 auto; }

@media (max-width: 1180px) {
  label {
    font-size: 15px; }
  h1 {
    padding: 15px; }
  img.netflix {
    width: 25%;
    height: 25%; } }

@media (max-width: 885px) {
  label {
    font-size: 13px; }
  h1 {
    font-size: 3.5rem; }
  img.netflix {
    width: 30%;
    height: 30%; } }

@media (max-width: 768px) {
  h1 {
    font-size: 2rem; }
  label {
    width: 15%; }
  img.netflix {
    width: 35%;
    height: 35%; } }

@media (max-width: 480px) {
  label {
    width: 25%; }
  input.smashSearch {
    font-size: 12px; }
  a {
    width: 33%;
    font-size: 12px; }
  h2 {
    font-size: 25px; }
  p {
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    padding: 20px 0 20px 0; }
  img {
    flex-direction: column;
    width: 90%;
    border: 8px solid #7D3739; }
  img.netflix {
    width: 40%;
    height: 40%; } }
